.glyphicon-star:hover {
  cursor: pointer;
  color: gold;
}

.glyphicon-star {
  font-size: 200%;
  color: darkgray;
}

.coffee-image {
  width: 150px;
  height: 150px;
}

.money-owed {
  color: red;
}
